.page{
  padding: 10px;
  text-align: center;
}

.page-header{
  text-align: center;
}

.page-content{
  margin: auto;
  max-width: 500px;
}

.page-header__title{
  margin-top: 5px;
  font-size: 3vmin;
}